<form name="form" (submit)="addNewWorkout()">
  <h2>Add A New Workout</h2><br> 
  <div class="form-group">
    Name: <input type="text" [(ngModel)]="name" name="name" class="form-control">
    Category: <select [(ngModel)]="category" name="category" class="form-control">
    <option value="Cardio">Cardio</option>
    <option value="Strength">Strength Training</option>
    <option value="Balance">Balance</option>
    <option value="Flexibility">Flexibility</option>
    </select>
    Calories: <input type="text" [(ngModel)]="calories" name="calories" class="form-control">
    Length: <input type="text" [(ngModel)]="length" name="length" class="form-control">
    Notes: <textarea rows="4" cols="50" [(ngModel)]="notes" name="notes" class="form-control"></textarea>
  </div>
  <br><br>
  <input type="submit" class="btn btn-primary">
</form>